{% extends "global/Page.html" %} {% load otree %} {% block content %}
<div dir='rtl' class='container-div'>
    <div style="width:30%; float: right;">
        <p style="color: grey">
            בניסוי זה יוטל מטבע 30 פעמים. עבור כל הטלה, יהיו לרשותך 30 שניות כדי לנחש האם תוצאת ההטלה תהיה עץ או פלי. בכל סבב, אם ניחשת נכון, ואם דורגת בין <b>{{percent}}% ({{ num }}) </b> המשתתפים שניחושיהם הם הקרובים ביותר לתוצאות האמיתיות של כל ההטלות עד כה, תזכה ב-<b>{{gain}}</b> נקודות בונוס, אחרת לא תזכה בנקודות בונוס עבור סבב זה. בצד המסך תראה את דירוגך במשחק ואת התפלגות ניחושי המשתתפים בין עץ לפלי בכל ההטלות שקדמו להטלה זו, במספרים ובאחוזים.        </p>
        <p>
            הטלה {{ subsession.round_number }} מתוך {{ C.NUM_ROUNDS }}
        </p>
        <p>
            תוצאת הטלת המטבע הינה <b>{{coin_result}}</b> (התוצאה מוגרלת על ידי המחשב)
                <br><br>
                ניחושך היה <b>{{guess}}</b>
                <br><br>
                בהתאם לכך דירוגך הוא <b>{{rank}}</b> מתוך {{total}} 
                <br><br>
                לכן <b>{{status}}</b> ב-{{gain}} נקודות בסבב זה.
        </p>
        <p><b>לחצ/י על מקש הרווח כדי להמשיך</b></p>
    </div>
    <div style="width:60%; float: left; font-size: small;">
        {% if split %}
        <table class="table" style="width:50%; float: right">
        {% else %}
        <table class="table">
        {% endif %}
            <tr>
                <td>מספר הטלה</td>
                <td>עץ</td>
                <td>פלי</td>
            </tr>
            {% for i in data1 %}
            <tr>
                <td>{{i.round}}</td>
                <td>{{i.heads}} ({{ i.heads_per }}%)</td>
                <td>{{i.tails}} ({{ i.tails_per }}%)</td>
            </tr>
            {% endfor %}
            {% if split %}
                <table class="table" style="width:50%; float: left">
                    <tr>
                        <td>מספר הטלה</td>
                        <td>עץ</td>
                        <td>פלי</td>
                    </tr>
                    {% for i in data2 %}
                    <tr>
                        <td>{{i.round}}</td>
                        <td>{{i.heads}} ({{ i.heads_per }}%)</td>
                        <td>{{i.tails}} ({{ i.tails_per }}%)</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </table>
    </div>
    <div>
        <table class="table">
            <tr>
                <td>מספר הטלה</td>
                <td>עץ</td>
                <td>פלי</td>
                <td>תוצאה</td>
                <td>דירוג</td>
                <td>בונוס</td>
                <td>סה"כ</td>
            </tr>
            {% for i in data1 %}
            <tr>
                <td>{{i.round}}</td>
                <td>{{i.heads}} ({{ i.heads_per }}%)</td>
                <td>{{i.tails}} ({{ i.tails_per }}%)</td>
                <td>{{i.result}} (ניחושך היה {{i.correctness}})</td>
                <td>{{i.percentile}}% ({{i.rank}} מתוך {{i.total}})</td>
                <td>{{i.payoff}} נקודות</td>
                <td>{{i.c_payoff}} נקודות</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<button name="submitButton" id="submitButton" class="otree-btn-next btn btn-primary" style='visibility: hidden;'>המשך</button>
<script>
    document.body.addEventListener('keydown', function(e) {
        if (e.keyCode == 32) {
            e.preventDefault()
            document.getElementById('submitButton').click()
        }
    })
</script>
{% endblock %}